.btn {
  padding:8px 14px;

  border:none;
  border-radius:10px;

  cursor:pointer;

  transition:.25s;
}


.btn-primary {
  background:#1e66ff;
  color:white;
}


.btn-danger {
  background:rgba(248,81,73,.12);
  color:#f85149;
}


.btn-danger:hover {
  background:#f85149;
  color:#0d1117;
}


.btn:disabled {
  opacity:.5;
  cursor:not-allowed;
}
