.header {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* 왼쪽: 로고 + 햄버거 */
.topBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* 햄버거 기본 숨김 */
.menuButton {
  display: none;
  margin-left: auto; /* ⭐ 혹시 밀림 방지 */
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* 기본: 데스크톱에서는 메뉴 보임 */
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  width: 100%;
}


.navLinks,
.navUser {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  gap: 16px;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav.open {
    display: flex;
  }

  .navLinks,
  .navUser {
    flex-direction: column;
    width: 100%;
  }
}
