.header {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* 왼쪽: 로고 + 햄버거 */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* 햄버거 기본 숨김 */
.menuButton {
  display: none;
  margin-left: auto; /* ⭐ 혹시 밀림 방지 */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* 기본: 데스크톱에서는 메뉴 보임 */
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}


.navLinks,
.navUser {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 24px;
  gap: 10px;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav.open {
    display: flex;
    flex-direction: column;
  }

  .navLinks,
  .navUser {
    flex-direction: column;
    width: 100%;
  }
}
